/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap'); */
@import url('https://fonts.cdnfonts.com/css/gg-sans-2');

.App{
    min-height: 100vh;
    display: flex;
    background-color: #040c14;
}